Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as &lt;WORKER_NAME&gt;.

select first_name as worker_name from worker

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

select distict department from work table;

Q-3. Write an SQL query to show the last 5 record from a table.

SELECT TOP 5 *
FROM worker
ORDER BY ID DESC